<br>
<p class="text-center text-muted">© Copyright 2018 Wonderlab</p>
<style>
    p {
    color: white !important;
    font-family: monospace;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>