<meta charset="UTF-8">
<title><%=title%></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<style>
body { 
padding-top:50px;
background-color: rgb(255, 235, 240);
}
</style>