<!DOCTYPE html>
<html>
    <head>
        <%include partials/head%>
    </head>
    <body class=container>
        <%include partials/header%>
        <p>
        hey, we're wonderlab
        </p>
        <p>
        we're an experiment in letting girls build their favorite makeup brand.
        we gathered some of the most talented french engineers,
        trapped them in a basement in paris,
        and made them build a magic makeup machine just for you.
        you can make anything you want with it.
        </p>
        <br>
        <p>
        we're launching in 2018
        </p>
        <p>
        but we need wondergirls
        </p>
        <br>
        <p> what's a wondergirl? </p>
        <li>  an internet girl who loves beauty </li>
        <li> wants a say in what our brand creates </li>
        <br>
        <p> what do you get? </p> 
        <li> to be part of the product development process (via social media) </li>
        <li>exclusive access to wonderlab parties and social media groups </li>
        <li> to be part of a community of beautiful girls </li>
        <li> to be a model on instagram </li>
        <br>
        <p> what do you have to do? </p>
       <h3> <a href= "/question/1"> fill out this thing </a> </h3>
        
       <p> we'll reach out to the winners on instagram. </p>

    <footer><%include partials/footer%></footer>
    </body>
    <style>
        li{
            font-family: monospace;
        }
        
        h3 {
            font-family: monospace !important;
        }
        a {
        color: black !important;
}
        
    </style>
</html>