<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body class="container">
        <% include partials/header %>
        <ul> <% for (var i = 0; i < data.length; i++) { %> 
        <li> 
        <%=data[i].courses%>
        </li>
        <% } %>
        </ul>
    <footer><% include partials/footer %></footer>
    </body>
</html>