<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    </head>
    <body class="container">
                <% include partials/header %>
                 <p> <%=question%> </p>
    <footer><% include partials/footer %></footer>
    </body>
</html>