<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    </head>
    <body background= "./images/success.jpeg" class="container">
                <% include partials/header %>
                <div id="success">
                 <h1> You did it!  </h1>
                <br>
                <br>
                 </div>
                 <h1> We'll be in touch soon. </a> </h1>
                
    <footer><% include partials/footer %></footer>
    </body>
    <style>
        
        #success {
            
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: white;
            font-family: sans-serif, 'Helvetica Neue';
            font-weight: bold;
            font-size: xx-large;
            
        }
        
        h1 {
            color: white !important;
        }
        
    a {
    color: white !important;
    
}
    </style>
</html>