<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    </head>
    <body background= "./images/success.jpeg" class="container">
                <% include partials/header %>
                <div id="success">
                    You did it!
                </div>
    <footer><% include partials/footer %></footer>
    </body>
    <style>
        
        #success {
            
            display: flex;
            justify-content: center;
            width: 800px;
            height: 500px;
            color: white;
            font-family: sans-serif, 'Helvetica Neue';
            font-weight: bold;
            font-size: xx-large;
            
        }
    </style>
</html>