  .navbar-default{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    border: none;
}

.navbar-brand {
    font-family: monospace;
    color: black !important;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

.navbar-header {
font-family: monospace;
}

a {
    color: black !important;
}

a:hover {
    font-weight: bold;
}

#title:hover {
    background-color: white !important;
}
 
 li     {
            font-family: monospace;
        }
 h3 {
            font-family: monospace !important;
        }
        
p {
    color: black !important;
    font-family: monospace;
}

body { 
padding-top:50px;
background-color: rgb(255, 235, 240);
}